@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom__blue: #0051ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  color: white;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .btn {
    @apply py-[20px] px-[50px] rounded-[44px] flex items-center overflow-hidden relative text-white;
    /* padding: 20px 50px;
    border-radius: 44px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative; */
    /* 44px ou 84px */
  }
}

/* test */
