@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom__blue: #0051ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  color: white;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .btn {
    @apply py-[20px] px-[50px] rounded-[44px] flex items-center overflow-hidden relative text-white;
    /* padding: 20px 50px;
    border-radius: 44px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative; */
    /* 44px ou 84px */
  }

  .amount-orders__number {
    background: linear-gradient(90.88deg, #000 0%, #7c7c7c 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0, 0, 0, 0);
    letter-spacing: -0.05em;
  }

  .border-gradient_exchanges {
    border-top: 0.5px solid;
    border-left: 0.5px solid;
    border-image: linear-gradient(330deg, transparent 55%, #0056ff 100%) 1;
  }

  .divion-before {
    transform: skew(-26deg, 11deg) rotate(-13deg) translate(-25px, -50%);
  }
}

/* test */
